<!-- sets.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Lego Sets</title>
</head>

<body>
    <!--navbar -->
    <div class="navbar bg-base-100">
        <div class="flex-none">
            <a href="/" class="text-2xl text-white font-bold">Lego Collection</a>
            <ul class="flex space-x-4">
                <li class="relative group">
                    <a href="/views/home.ejs" class="btn btn-ghost btn-circle">Home</a>
                    <button class="btn btn-ghost btn-circle">Theme</button>
                    <details class="dropdown">
                        <summary class="m-1 btn">Our Themes</summary>
                        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
                            <li><a href="/lego/sets?theme=Theme1">Theme1</a></li>
                            <li><a href="/lego/sets?theme=Theme2">Theme2</a></li>
                            <li><a href="/lego/sets?theme=Theme3">Theme3</a></li>
                        </ul>
                    </details>
                    <ul class="hidden absolute z-10 space-y-2 p-2 bg-white group-hover:block"></ul>
                </li>
            </ul>
        </div>
    </div>

    <!--table -->
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Theme</th>
                    <th>Year</th>
                    <th>Num Parts</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <!--iteration -->
                <% sets.forEach((set, index) => { %>
                    <tr class="<%= index % 2 === 0 ? 'bg-base-200' : '' %>">
                        <td>
                            <!--avatar-->
                            <div class="avatar">
                                <div class="w-24 rounded">
                                    <img src="<%= set.img_url %>" alt="<%= set.name %>" class="w-24 h-24 rounded-full">
                                </div>
                            </div>
                        </td>
                        <td><%= set.name %></td>
                        <td>
                            <!--theme-->
                            <a href="/lego/sets?theme=<%= set.theme %>" class="btn btn-sm btn-primary"><%= set.theme %></a>
                        </td>
                        <td><%= set.year %></td>
                        <td><%= set.num_parts %></td>
                        <td>
                            <!--details-->
                            <a href="/lego/sets/<%= set.set_num %>" class="btn btn-sm btn-primary">Details</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>
